In [1]:
spark
sc
from pyspark.sql import functions as sf

Starting Spark application

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

SparkSession available as 'spark'.

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [2]:
# Ejemeplo df=spark.read.csv('s3n://emontoya-datalake/datasets/sample_data.csv',inferSchema=True,header=True)
#Leer los datos desde s3
#df=spark.read.csv('s3://ojcontrerb-datasets/raw/Trabajo1_ST1800&ST18001/ds3_GlobalLandTemperaturesByCity/GlobalLandTemperaturesByCity.csv',inferSchema=True,header=True)
df=spark.read.csv('s3://ojcontrerb-datasets/Trabajo1/raw/global-land-temperatures/',inferSchema=True,header=True)

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [3]:
# Mostrar el esquema del Dataframe
df.printSchema()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

root
 |-- dt: string (nullable = true)
 |-- AverageTemperature: double (nullable = true)
 |-- AverageTemperatureUncertainty: double (nullable = true)
 |-- City: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Latitude: string (nullable = true)
 |-- Longitude: string (nullable = true)

In [4]:
# Mostrar las dimensiones del dataframe
((df.count(),len(df.columns)))

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

(8599212, 7)

In [5]:
# Mostrar la información del dataframe
df.describe().show()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+-------+----------+------------------+-----------------------------+--------+-----------+--------+---------+
|summary|        dt|AverageTemperature|AverageTemperatureUncertainty|    City|    Country|Latitude|Longitude|
+-------+----------+------------------+-----------------------------+--------+-----------+--------+---------+
|  count|   8599212|           8235082|                      8235082| 8599212|    8599212| 8599212|  8599212|
|   mean|      null|16.727432636250835|           1.0285747414536532|    null|       null|    null|     null|
| stddev|      null|10.353442482534422|           1.1297332887133706|    null|       null|    null|     null|
|    min|1743-11-01|-42.70399999999999|                        0.034|A Coruña|Afghanistan|   0.80N|    0.00W|
|    max|2013-09-01|            39.651|           15.395999999999999|  Ürümqi|   Zimbabwe|   8.84S|   99.91E|
+-------+----------+------------------+-----------------------------+--------+-----------+--------+---------+

In [6]:
# Agregamos una nueva columna con la Coordenada Geografica"
df2 = df.withColumn("GeographicCoordinate",sf.concat(sf.col("Latitude"),sf.lit(" "),sf.col("Longitude"))) 
df2.show()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+----------+-------------------+-----------------------------+-----+-------+--------+---------+--------------------+
|        dt| AverageTemperature|AverageTemperatureUncertainty| City|Country|Latitude|Longitude|GeographicCoordinate|
+----------+-------------------+-----------------------------+-----+-------+--------+---------+--------------------+
|1743-11-01|              6.068|           1.7369999999999999|Århus|Denmark|  57.05N|   10.33E|       57.05N 10.33E|
|1743-12-01|               null|                         null|Århus|Denmark|  57.05N|   10.33E|       57.05N 10.33E|
|1744-01-01|               null|                         null|Århus|Denmark|  57.05N|   10.33E|       57.05N 10.33E|
|1744-02-01|               null|                         null|Århus|Denmark|  57.05N|   10.33E|       57.05N 10.33E|
|1744-03-01|               null|                         null|Århus|Denmark|  57.05N|   10.33E|       57.05N 10.33E|
|1744-04-01| 5.7879999999999985|           3.6239999999999997|Århus|Denmark|  57.05N|   10.33E|       57.05N 10.33E|
|1744-05-01|             10.644|           1.2830000000000001|Århus|Denmark|  57.05N|   10.33E|       57.05N 10.33E|
|1744-06-01| 14.050999999999998|                        1.347|Århus|Denmark|  57.05N|   10.33E|       57.05N 10.33E|
|1744-07-01|             16.082|                        1.396|Århus|Denmark|  57.05N|   10.33E|       57.05N 10.33E|
|1744-08-01|               null|                         null|Århus|Denmark|  57.05N|   10.33E|       57.05N 10.33E|
|1744-09-01| 12.780999999999999|                        1.454|Århus|Denmark|  57.05N|   10.33E|       57.05N 10.33E|
|1744-10-01|               7.95|                         1.63|Århus|Denmark|  57.05N|   10.33E|       57.05N 10.33E|
|1744-11-01|  4.638999999999999|           1.3019999999999998|Århus|Denmark|  57.05N|   10.33E|       57.05N 10.33E|
|1744-12-01|0.12199999999999987|                        1.756|Århus|Denmark|  57.05N|   10.33E|       57.05N 10.33E|
|1745-01-01|-1.3330000000000002|                        1.642|Århus|Denmark|  57.05N|   10.33E|       57.05N 10.33E|
|1745-02-01|             -2.732|                        1.358|Århus|Denmark|  57.05N|   10.33E|       57.05N 10.33E|
|1745-03-01|              0.129|                        1.088|Århus|Denmark|  57.05N|   10.33E|       57.05N 10.33E|
|1745-04-01|              4.042|                        1.138|Århus|Denmark|  57.05N|   10.33E|       57.05N 10.33E|
|1745-05-01|               null|                         null|Århus|Denmark|  57.05N|   10.33E|       57.05N 10.33E|
|1745-06-01|               null|                         null|Århus|Denmark|  57.05N|   10.33E|       57.05N 10.33E|
+----------+-------------------+-----------------------------+-----+-------+--------+---------+--------------------+
only showing top 20 rows

In [7]:
#Removemos todas las filas que tengan algun valor nulo en cualquiera de sus columnas
df2 = df2.na.drop()
df2.show()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+----------+-------------------+-----------------------------+-----+-------+--------+---------+--------------------+
|        dt| AverageTemperature|AverageTemperatureUncertainty| City|Country|Latitude|Longitude|GeographicCoordinate|
+----------+-------------------+-----------------------------+-----+-------+--------+---------+--------------------+
|1743-11-01|              6.068|           1.7369999999999999|Århus|Denmark|  57.05N|   10.33E|       57.05N 10.33E|
|1744-04-01| 5.7879999999999985|           3.6239999999999997|Århus|Denmark|  57.05N|   10.33E|       57.05N 10.33E|
|1744-05-01|             10.644|           1.2830000000000001|Århus|Denmark|  57.05N|   10.33E|       57.05N 10.33E|
|1744-06-01| 14.050999999999998|                        1.347|Århus|Denmark|  57.05N|   10.33E|       57.05N 10.33E|
|1744-07-01|             16.082|                        1.396|Århus|Denmark|  57.05N|   10.33E|       57.05N 10.33E|
|1744-09-01| 12.780999999999999|                        1.454|Århus|Denmark|  57.05N|   10.33E|       57.05N 10.33E|
|1744-10-01|               7.95|                         1.63|Århus|Denmark|  57.05N|   10.33E|       57.05N 10.33E|
|1744-11-01|  4.638999999999999|           1.3019999999999998|Århus|Denmark|  57.05N|   10.33E|       57.05N 10.33E|
|1744-12-01|0.12199999999999987|                        1.756|Århus|Denmark|  57.05N|   10.33E|       57.05N 10.33E|
|1745-01-01|-1.3330000000000002|                        1.642|Århus|Denmark|  57.05N|   10.33E|       57.05N 10.33E|
|1745-02-01|             -2.732|                        1.358|Århus|Denmark|  57.05N|   10.33E|       57.05N 10.33E|
|1745-03-01|              0.129|                        1.088|Århus|Denmark|  57.05N|   10.33E|       57.05N 10.33E|
|1745-04-01|              4.042|                        1.138|Århus|Denmark|  57.05N|   10.33E|       57.05N 10.33E|
|1750-01-01|              1.699|                        1.013|Århus|Denmark|  57.05N|   10.33E|       57.05N 10.33E|
|1750-02-01| 3.9610000000000003|           2.3609999999999998|Århus|Denmark|  57.05N|   10.33E|       57.05N 10.33E|
|1750-03-01|              5.182|                         3.48|Århus|Denmark|  57.05N|   10.33E|       57.05N 10.33E|
|1750-04-01|              7.197|                        0.732|Århus|Denmark|  57.05N|   10.33E|       57.05N 10.33E|
|1750-05-01|             10.634|                        1.351|Århus|Denmark|  57.05N|   10.33E|       57.05N 10.33E|
|1750-06-01|             14.913|                        1.181|Århus|Denmark|  57.05N|   10.33E|       57.05N 10.33E|
|1750-07-01|             17.831|                         1.22|Århus|Denmark|  57.05N|   10.33E|       57.05N 10.33E|
+----------+-------------------+-----------------------------+-----+-------+--------+---------+--------------------+
only showing top 20 rows

In [8]:
#Calculamos el numero de filas removidas
df.count()-df2.count()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

364130

In [13]:
#Insertamos la tabla 
#uri_output='s3://ojcontrerb-datasets/trusted/trabajo1/Global/GlobalLandTemperaturesByCity_Cleaned'
uri_output='s3://ojcontrerb-datasets/Trabajo1/trusted/Global/GlobalLandTemperaturesByCity_Cleaned'
df2.coalesce(1).write.format("csv").option("header","true").save(uri_output)

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [14]:
#Comprobamos leyendo el archivo en la zona trusted
#df_cleaned=spark.read.csv('s3://ojcontrerb-datasets/trusted/trabajo1/Global/GlobalLandTemperaturesByCity_Cleaned/part-00000-05431328-0e33-45f6-9504-d4a8e0c82bc9-c000.csv',inferSchema=True,header=True)
df_cleaned=spark.read.csv('s3://ojcontrerb-datasets/Trabajo1/trusted/Global/GlobalLandTemperaturesByCity_Cleaned/part-00000-ffc58119-0f6b-4340-8f8c-fb90c3b30a14-c000.csv',inferSchema=True,header=True)
df_cleaned.show()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+----------+-------------------+-----------------------------+-----+-------+--------+---------+--------------------+
|        dt| AverageTemperature|AverageTemperatureUncertainty| City|Country|Latitude|Longitude|GeographicCoordinate|
+----------+-------------------+-----------------------------+-----+-------+--------+---------+--------------------+
|1743-11-01|              6.068|           1.7369999999999999|Århus|Denmark|  57.05N|   10.33E|       57.05N 10.33E|
|1744-04-01| 5.7879999999999985|           3.6239999999999997|Århus|Denmark|  57.05N|   10.33E|       57.05N 10.33E|
|1744-05-01|             10.644|           1.2830000000000001|Århus|Denmark|  57.05N|   10.33E|       57.05N 10.33E|
|1744-06-01| 14.050999999999998|                        1.347|Århus|Denmark|  57.05N|   10.33E|       57.05N 10.33E|
|1744-07-01|             16.082|                        1.396|Århus|Denmark|  57.05N|   10.33E|       57.05N 10.33E|
|1744-09-01| 12.780999999999999|                        1.454|Århus|Denmark|  57.05N|   10.33E|       57.05N 10.33E|
|1744-10-01|               7.95|                         1.63|Århus|Denmark|  57.05N|   10.33E|       57.05N 10.33E|
|1744-11-01|  4.638999999999999|           1.3019999999999998|Århus|Denmark|  57.05N|   10.33E|       57.05N 10.33E|
|1744-12-01|0.12199999999999987|                        1.756|Århus|Denmark|  57.05N|   10.33E|       57.05N 10.33E|
|1745-01-01|-1.3330000000000002|                        1.642|Århus|Denmark|  57.05N|   10.33E|       57.05N 10.33E|
|1745-02-01|             -2.732|                        1.358|Århus|Denmark|  57.05N|   10.33E|       57.05N 10.33E|
|1745-03-01|              0.129|                        1.088|Århus|Denmark|  57.05N|   10.33E|       57.05N 10.33E|
|1745-04-01|              4.042|                        1.138|Århus|Denmark|  57.05N|   10.33E|       57.05N 10.33E|
|1750-01-01|              1.699|                        1.013|Århus|Denmark|  57.05N|   10.33E|       57.05N 10.33E|
|1750-02-01| 3.9610000000000003|           2.3609999999999998|Århus|Denmark|  57.05N|   10.33E|       57.05N 10.33E|
|1750-03-01|              5.182|                         3.48|Århus|Denmark|  57.05N|   10.33E|       57.05N 10.33E|
|1750-04-01|              7.197|                        0.732|Århus|Denmark|  57.05N|   10.33E|       57.05N 10.33E|
|1750-05-01|             10.634|                        1.351|Århus|Denmark|  57.05N|   10.33E|       57.05N 10.33E|
|1750-06-01|             14.913|                        1.181|Århus|Denmark|  57.05N|   10.33E|       57.05N 10.33E|
|1750-07-01|             17.831|                         1.22|Århus|Denmark|  57.05N|   10.33E|       57.05N 10.33E|
+----------+-------------------+-----------------------------+-----+-------+--------+---------+--------------------+
only showing top 20 rows

In [15]:
#Realizamos una transformación que nos permitirá realizar un análisis exploratorio de datos
df_refined = df_cleaned.groupBy("Country","City").mean("AverageTemperature")

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [16]:
#Mostramos el nuevo dataframe con la información transformada
df_refined.show()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+--------------------+----------+-----------------------+
|             Country|      City|avg(AverageTemperature)|
+--------------------+----------+-----------------------+
|           Argentina|   Cordoba|     16.913611578947396|
|            Pakistan|   Chiniot|     24.138396543446955|
|          Madagascar| Antsirabe|     19.815439024390216|
|           Indonesia|  Banjaran|     24.768451303885037|
|       Côte D'Ivoire|   Abidjan|     26.163737197524014|
|             Nigeria|   Amaigbo|      26.61282420749278|
|Bosnia And Herzeg...|Banja Luka|      9.081287428932413|
|               India|  Ambattur|     28.417858452950554|
|       United States|      Cary|      14.41886117345303|
|               Chile|     Arica|     19.173233684210505|
|          Kazakhstan|    Atyrau|       8.06841197046249|
|               Haiti| Carrefour|     26.468403139013443|
|               India|  Azamgarh|      25.11258609668402|
|           Indonesia|   Cilegon|     26.508209686003163|
|           Indonesia|   Ciparay|     24.768451303885037|
|               Italy|   Bergamo|      9.330125078964002|
|               Japan|     Abiko|       12.5559975247525|
|            Pakistan|  Burewala|     25.537814690350466|
|           Australia|    Cairns|      23.06483860414398|
|           Indonesia|    Cimahi|     24.768451303885037|
+--------------------+----------+-----------------------+
only showing top 20 rows

In [17]:
#Escribimos el nuevo dataframe en la zona refined del datalake
#uri_output='s3://ojcontrerb-datasets/refined/trabajo1/Global/GlobalLandTemperaturesByCity_Refined_GroupBy'
uri_output='s3://ojcontrerb-datasets/Trabajo1/refined/Global/GlobalLandTemperaturesByCity_Refined_GroupBy'
df_refined.coalesce(1).write.format("csv").option("header","true").save(uri_output)

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [18]:
#Comprobamos leyendo el archivo en la zona refined
df_analysis = spark.read.csv('s3://ojcontrerb-datasets/Trabajo1/refined/Global/GlobalLandTemperaturesByCity_Refined_GroupBy/part-00000-e7fefe16-d827-4e40-bf53-bc8e663b2681-c000.csv',inferSchema=True,header=True)
df_analysis.show()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+--------------------+----------+-----------------------+
|             Country|      City|avg(AverageTemperature)|
+--------------------+----------+-----------------------+
|           Argentina|   Cordoba|     16.913611578947396|
|            Pakistan|   Chiniot|     24.138396543446955|
|          Madagascar| Antsirabe|     19.815439024390216|
|           Indonesia|  Banjaran|     24.768451303885037|
|       Côte D'Ivoire|   Abidjan|     26.163737197524014|
|             Nigeria|   Amaigbo|      26.61282420749278|
|Bosnia And Herzeg...|Banja Luka|      9.081287428932413|
|               India|  Ambattur|     28.417858452950554|
|       United States|      Cary|      14.41886117345303|
|               Chile|     Arica|     19.173233684210505|
|          Kazakhstan|    Atyrau|       8.06841197046249|
|               Haiti| Carrefour|     26.468403139013443|
|               India|  Azamgarh|      25.11258609668402|
|           Indonesia|   Cilegon|     26.508209686003163|
|           Indonesia|   Ciparay|     24.768451303885037|
|               Italy|   Bergamo|      9.330125078964002|
|               Japan|     Abiko|       12.5559975247525|
|            Pakistan|  Burewala|     25.537814690350466|
|           Australia|    Cairns|      23.06483860414398|
|           Indonesia|    Cimahi|     24.768451303885037|
+--------------------+----------+-----------------------+
only showing top 20 rows

In [19]:
df_analysis.orderBy(df_analysis["avg(AverageTemperature)"].desc()).show()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+---------+------------+-----------------------+
|  Country|        City|avg(AverageTemperature)|
+---------+------------+-----------------------+
| Djibouti|      Jibuti|     29.152790108564506|
|    Sudan|    Khartoum|     29.081291289592794|
|    Sudan|  Umm Durman|     29.081291289592794|
|    Niger|      Niamey|     29.062560090702984|
|    Sudan|     Kassala|     28.938775931232133|
|     Mali|       Mopti|      28.78444858817257|
|    Sudan|       Rabak|     28.598225729600962|
|    Sudan|       Kusti|     28.598225729600962|
|    India|       Avadi|     28.417858452950554|
|    India|    Ambattur|     28.417858452950554|
|    India|      Madras|     28.417858452950554|
|    India|    Tambaram|     28.417858452950554|
|    India|  Pallavaram|     28.417858452950554|
|    India|Tiruvottiyur|     28.417858452950554|
|    India| Kanchipuram|     28.417858452950554|
|    India|    Tirupati|     28.417858452950554|
|    India|     Alandur|     28.417858452950554|
|  Nigeria|      Sokoto|     28.280790819291127|
|Venezuela|  Punto Fijo|      28.25923969319267|
|    India|      Ongole|     28.230023923444993|
+---------+------------+-----------------------+
only showing top 20 rows

In [20]:
df_analysis.orderBy(df_analysis["avg(AverageTemperature)"].asc()).show()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+-------------+-------------------+-----------------------+
|      Country|               City|avg(AverageTemperature)|
+-------------+-------------------+-----------------------+
|       Russia|            Norilsk|     -11.85474967630557|
|       Russia|              Kyzyl|    -6.2224518774277255|
|       Russia|              Chita|     -4.360299956840743|
|       Russia|         Ust Ilimsk|    -3.9967997410444496|
|       Russia|       Nefteyugansk|    -3.5382811078958243|
|       Russia|             Surgut|    -3.5382811078958243|
|     Mongolia|        Ulaanbaatar|    -3.3654853195164023|
|       Russia|           Ulan Ude|     -3.179915407854988|
|       Russia|             Bratsk|    -2.8179848942598165|
|        China|             Hailar|    -2.5129801467414716|
|        China|            Yakeshi|    -2.5129801467414716|
|       Russia|Komsomolsk Na Amure|    -2.3709624773960196|
|       Russia|     Nizhnevartovsk|     -2.337914501257337|
|United States|          Anchorage|    -2.3016456107756667|
|       Russia|            Angarsk|    -1.8229080707811787|
|       Russia|            Irkutsk|    -1.8229080707811787|
|       Russia|              Kansk|    -1.7584113077255037|
|       Russia|           Murmansk|    -1.7339109286165482|
|       Russia|              Ukhta|    -1.6462818728250586|
|       Russia|        Krasnoyarsk|    -1.6017906776003474|
+-------------+-------------------+-----------------------+
only showing top 20 rows